{% extends 'general_template.html' %}
{% load static %}
    
{% block general_template %}

<!-- Start: Cart Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="cart-main" style="min-height: 100vh">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div class="woocommerce table-tabs" id="responsiveTabs">
                                        <h3 class="text-center">My CART</h3>
                                        <hr class="text-center">
                                        {% if cartItems.count >= 1 %}
                                        <div class="tab-content">
                                            <div id="sectionA" class="tab-pane fade in active">
                                                <form method="post" action="http://libraria.demo.presstigers.com/cart-page.html">
                                                    <table class="table table-bordered shop_table cart">
                                                        <thead>
                                                            <tr>
                                                                
                                                                <th class="product-name">Cover</th>
                                                                <th class="product-name">Detail</th>
                                                                <th class="product-price">Availability </th>
                                                                <th class="product-quantity">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for cartItem in cartItems %}
                                                            <tr class="cart_item">                 
                                                                <td data-title="Product" class="product-name">
                                                                    
                                                                    <img src="{{cartItem.book.photo.url}}" class="img-thumbnail" style="height:150px" alt="cart-product-1">
                                                                </td>
                                                                <td data-title="Product" class="product-name">
                                                                    <span class="product-detail">
                                                                        <a href="#"><strong>{{cartItem.book.name}}</strong></a>
                                                                        <span><strong>Book No:</strong> {{cartItem.book.library_book_no}}</span>
                                                                        <span><strong>Author:</strong> {{cartItem.book.author}}</span>
                                                                        <span><strong>Publisher:</strong> {{cartItem.book.publisher}}</span>
                                                                    </span>
                                                                </td>
                                                                </td>
                                                                <td data-title="Price" class="product-price">
                                                                    
                                                                    {% if cartItem.book.stock_availability == False %}
                                                                        <p>Not Available Now</p>
                                                                    {% else %}
                                                                        <p>This book is available</p>
                                                                    {% endif %}
                                                                        
                                                                </td>
                                                                <td data-title="action" class="">
                                                                    <div class="text-light">
                                                                        <span type="button" data-action="remove" data-product={{cartItem.book.id}} class="btn btn-warning update-cart">Delete From Cart</span>
                                                                    </div>
                                                            </tr>
                                                            {% endfor %}    
   
                                                        </tbody>
                                                    </table>
                                                </form>
                                                <a href="{% url 'checkout' %}" type="button" class="btn btn-info text-light float-right" style="float:right; margin:2px;">Checkout Items</a>
                                                &nbsp;
                                                <a href="{% url 'books' %}" type="button" class="btn btn-success text-light float-right" style="float:right; margin:2px;">Add More Books</a>
                                            </div>
                                            <div id="sectionB" class="tab-pane fade in">
                                                <h5>Lorem Ipsum Dolor</h5>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                            </div>
                                        </div>
                                        {% else %}
                                            <h5 class="text-center">You do not have anything in the CART, please <a href="{% url 'books' %}" style="margin-left:3px;" class="btn btn-success text-light"">Add Books in the CART</a> and then try to checkout </h5>
                                        
                                        {% endif %}
                                    </div>
                                </div><!-- .entry-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Cart Section -->

{% endblock general_template %}