{% extends 'general_template.html' %}
{% load static %}
    
{% block general_template %}
        <!-- Start: Cart Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    
                    <div class="container mt-4 mvh-100 mt-30">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center"> All the Books in our lirary <a class="text-success" style="font-size: 24px; color: Dodgerblue;" href="{% url 'book-add' %}"><i class="fa fa-plus-square"></i></a></h3>
                                <hr>

                                

                                    <div class="panel panel-default text-white mb-3 mt-20 profile-panel">
                                            <div class="panel-heading text-center align-middle">Filter Your Results </div>

                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <form method="get" action="">
                                
                                                            <!-- Security token -->
                                                            {% csrf_token %}
                                                            <!-- Using the formset -->
                                                            <span style="font-size: 18px;"><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></span> &nbsp;{{ filtered_items.form.library_book_no }}&nbsp;
                                                            <span style="font-size: 18px;"><i class="fa fa-book" aria-hidden="true"></i></span> &nbsp;{{ filtered_items.form.name }}&nbsp;
                                                            <span style="font-size: 18px;"><i class="fa fa-pencil" aria-hidden="true"></i></span> &nbsp;{{ filtered_items.form.author }} &nbsp;
                                                            <span style="font-size: 16px;"><i class="fa fa-building" aria-hidden="true"></i></span> &nbsp;{{ filtered_items.form.publisher }}&nbsp;

                                                            <input type="submit" value="Submit">
                                                        </form>
                                                    </div>
                                                </div>
                                              
                                             
                                            </div>
                                            
                                        </div>

                                    


                                <table class="table table-bordered shop_table cart table-hover mt-27">
                                    <thead>
                                        <tr class="bg-info">
                                            <th class="product-name">Serial</th>
                                            <th class="product-name">Book No</th>
                                            <th class="product-name">Book Nam </th>
                                            <th class="product-name">Author</th>
                                            <th class="product-price">Publisher </th>
                                            <th class="product-quantity">Availability</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        {% for book in books %}
                                        <tr class="cart_item">                 
                                            
                                            {% if forloop.counter|divisibleby:2 %}
                                                <td class="text-light bg-success">{{forloop.counter}}</td>
                                                
                                            {% else %}
                                                <td class="text-light bg-info">{{forloop.counter}}</td>
                                                
                                            {% endif %}
                                                
                                            <td>{{book.library_book_no}}</td>
                                            <td>
                                                <a class="text-success" style="color: Dodgerblue;" href="{% url 'book-update' book.id %}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                {{book.name}}
                                            </td>
                                            <td>
                                                <a class="text-success" style="color: Dodgerblue;" href="{% url 'author-update' book.author.id %}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                {{book.author}}
                                            </td>
                                            <td>{{book.publisher}}</td>
                                           
                                            {% if book.stock_availability %}
                                                <td> 
                                                    <span style="font-size: 16px; color: Dodgerblue;">
                                                        <i class="fa fa-check-square"></i>  
                                                    </span>
                                                
                                                </td>
                                            {% else %}
                                                <td class="text-light bg-warning"> <i class="fa fa-times-circle"></i>  </td>
                                            {% endif %}
                                                
                                            
                                        </tr>
                                        {% endfor %}
                                        

                                    </tbody>
                                </table>                                
                            </div>


                        </div>

                        <div class="row mt-5 mt-30">
                                
                        </div>

                    </div>

                </main>
            </div>

            

        </div>
        <!-- End: Cart Section -->
        
 {% endblock general_template %}