{% extends 'general_template.html' %}
{% load static %}
    
{% block general_template %}
        <!-- Start: Cart Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    
                    <div class="container mt-4 mvh-100 mt-30">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center"> Add Book in our lirary <a class="text-success" style="font-size: 24px; color: Dodgerblue;" href="{% url 'all_books' %}"><i class="fa fa-book"></i></a></h3>
                                <hr>

                                <form method="POST" enctype="multipart/form-data">
                                
                                    <!-- Security token -->
                                    {% csrf_token %}
                                
                                    <!-- Using the formset -->
                                    {{ form.as_p }}
                                    
                                    <input type="submit" value="Submit">
                                </form>
                            </div>


                        </div>

                        <div class="row mt-5 mt-30">
                                
                        </div>

                    </div>

                </main>
            </div>

            

        </div>
        <!-- End: Cart Section -->
        
 {% endblock general_template %}