{% extends 'general_template.html' %}
{% load static %}
    
    {% block general_template %}
        <!-- Start: Products Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main mvh-80" style="margin-top:40px">
                    <div class="books-media-gird">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <span></span>
                                    <div class="books-gird item-gird">
                                        <ul>
                                        {% for author in object_list %}   
                                            <li>
                                                <a href="">
                                                    <div class="p-10">
                                                        <i class="fa fa-pencil"></i>
                                                        <p>{{author.name}}</p>
                                                    </div>                                       
                                                </a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Products Section -->


{% endblock general_template %}