.mvh-100{
    min-height: 100vh;
}
.mvh-80{
    min-height: 80vh;
}

.mt-30{
    margin-top: 30px;
}

.w-100per input{
    width: 100%;
}
input[type=select]{
    width: 100% !important;
}

.mt-27{
    margin-top: 27px;
}

.mt-20{
    margin-top: 20px !important;
}

.profile-panel{
    color: #5bc0de;
    font-weight: bold;
}

.min-height-80{
    min-height: 80vh;
}
@media only screen and (min-width: 768px){
    #booklist-image{
        height: 400px;
    }
}

.custom-style-form label {
    width: 230px;
}

.custom-style-form input[type="text"],.custom-style-form input[type="number"],.custom-style-form select, .custom-style-form textarea {
    width: 300px;
}

.item-gird ul li{
    border: 5px solid #4a7f56;
    background: #00b170;
    color: #fff;
}
.item-gird ul li:hover {
    background: #0099b1;
}
.p-10{
    padding: 10px 20px;
}
.p-20{
    padding: 20px;
}

.pt-20{
    padding-top: 20px;
}
.bg-custom1{
    background: #0099b1;
}

.text-light{
    color: #fff;
}

.author-image .img-thumbnail{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.author-image img{
    margin: 0;
    padding: 0;
}

.authod-bio{
    text-align: justify;
}

@media only screen and (min-width: 768px){
.custom-books-gird ul li {
    width: 17%;
}

.custom-books-gird ul li #booklist-image {
    height: 300px;
}

.custom-books-gird .single-book-box .post-detail {
    width: 290px;
}
}
.custom-books-gird ul li:nth-child(3n) .single-book-box .post-detail {
    left: auto;
    right: 0;
}