.mvh-100{
    min-height: 100vh;
}

.mt-30{
    margin-top: 30px;
}

.w-100per input{
    width: 100%;
}
input[type=select]{
    width: 100% !important;
}

.mt-27{
    margin-top: 27px;
}

.mt-20{
    margin-top: 20px !important;
}

.profile-panel{
    color: #5bc0de;
    font-weight: bold;
}