
{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Online Library</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">


</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'books' %}">Books</a>
      </li>

        {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'orders' %}">Orders</a>
          </li>
        {% endif %}

    </ul>
  </div>
  {% if request.user.is_authenticated %}
  <span> Logged in as <span class="text-info">{{request.user}}</span></span>
  &nbsp;
  
    <span > <a class="text-danger" href="{% url 'logout' %}"> Logout </> </a></span>
  {% endif %}

  
  {% if not request.user.is_authenticated %}
    <span > <a class="text-danger" href="{% url 'login' %}"> Login </> </a></span>
  {% endif %}
    
    
</nav>



    {% block admin_base %}
        
    {% endblock admin_base %}

</body>

</html>





