{% extends 'admin_base.html' %}
{% load static %}
    
{% block admin_base %}
        <!-- Start: Cart Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    
                    <div class="container mt-4">
                        <div class="row">

                            <div class="col">
                                <div class="card text-white bg-success mb-3">
                                    <div class="card-header  text-center align-middle">Total Customer</div>
                                    <div class="card-body">
                                        <p class="card-text h1 text-center align-middle">{{total_customer}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-success mb-3">
                                    <div class="card-header  text-center align-middle">Total Books</div>
                                    <div class="card-body">
                                        <p class="card-text h1 text-center align-middle">{{totoal_book}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card text-white bg-info mb-3">
                                    <div class="card-header  text-center align-middle">Total Order</div>
                                    <div class="card-body">
                                        <p class="card-text h1 text-center align-middle">{{total_order}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">

                                <div class="card text-white bg-secondary mb-3">
                                    <div class="card-header  text-center align-middle">Delivered</div>
                                    <div class="card-body">
                                        <p class="card-text h1 text-center align-middle">{{total_delivered}}</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col">

                                <div class="card text-white bg-secondary mb-3">
                                    <div class="card-header  text-center align-middle">Pending</div>
                                    <div class="card-body">
                                        <p class="card-text h1 text-center align-middle">{{total_pending}}</p>
                                    </div>
                                </div>

                            </div>
                            
                            
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="text-white bg-success text-center">
                                    <a class="text-white" href=""> Create Customer</a>
                                    <span>......</span>
                                    <a class="text-white" href="{% url 'create_order' %}"> Create Order </a>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col django-form">
                                
                                    <div class="card bg-light mb-3 mt-3">
                                        <div class="card-body">
                                            <form>
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="col">
                                                        <label for="">User ID</label>
                                                        <p> {{order_filter.form.user_id__id}} </p>
                                                    </div>
                                                    <div class="col">
                                                        <label for="">Book ID</label>
                                                        <p> {{order_filter.form.book_id__id}} </p>
                                                    </div>
                                                    <div class="col">
                                                        <label for="">User Email</label>
                                                        <p> {{order_filter.form.user_id__email}} </p>
                                                    </div>
                                                    <div class="col">
                                                        <label for="">Order Start Date</label>
                                                        <p> {{order_filter.form.start_date}} </p>
                                                    </div>
                                                    <div class="col">
                                                        <label for="">Order End Date</label>
                                                        <p> {{order_filter.form.end_date}} </p>
                                                    </div>
                                                    <div class="col">
                                                        <label for="">Status</label>
                                                        <p> {{order_filter.form.status}} </p>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-info">Search</button>
                                            </form>
                                        </div>
                                    </div> 
                                
                            </div>
                        </div>


                        <div class="row mt-5">
                            
                            <table class="table table-hover">
                                <thead>
                                <tr class="bg-info">
                                    <th>User</th>
                                    <th>Order ID</th>
                                    <th>Books Ordered</th>
                                    <th>Order Date</th>
                                    <th>Order Status </th>
                                    <th>Action </th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr class="table-success bg-success">
                                        <td>{{order.user_id.username}} <a href="{% url 'user' order.user_id.id %}"> <i class="fas fa-external-link-square-alt"></i> </a> </td>
                                        <td>{{order.id}}</td>
                                        <td>                                       
                                            {% for item in order.orderitem_set.all %}
                                                <span>{{item}}({{item.book.id}}),</span>
                                            {% endfor %}
                                        </td>
                                        <td>{{order.order_date.date}}</td>
                                        <td>{{order.status}}</td>
                                        <td>
                                          <a href="{% url 'update_order' order.id %}" type="button" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                          <a href="{% url 'delete_order' order.id %}" type="button" class="btn btn-danger"><i class="fas fa-trash"></i></a>

                                        </td>
                                    </tr>
                                        
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                                
                        </div>

                    </div>

                </main>
            </div>

            

        </div>
        <!-- End: Cart Section -->
        
 {% endblock admin_base %}